[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "pointless-xcompose"]
	path = pointless-xcompose
	url = git@github.com:rrthomas/pointless-xcompose.git
[submodule "nanopublishing"]
	path = nanopublishing
	url = git@github.com:iolanta-tech/nanopublishing.git
	branch = main
